*{
	padding: 0px;
	margin: 0px;
}
.continor{
	display: flex;
	height: 100%;
}

.rightMenu{
	width: 75%;
	height: 100%;
}
.charts{
	height: 300px;
	width: 600px;
}
.hideElement{
	display: none;
}
#uploadMask,#removeMsak,#detailMsak{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.85);
	color: #FFFFFF;
	z-index: 100;
}
.maskContext,.removeMaskContext,.detailMaskContext{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	flex-wrap: wrap;
}
.maskContext h1,.maskContext h2{
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
}
.removeBox{
	width: 28%;
	height: 28%;
	border-radius: 8px;
	text-align: center;
	background-color: #FFFFFF;
	padding: 10px;
}
.removeBox h3{
	color: #222222;
	font-family: "微软雅黑";
	border-bottom: 1px solid rgba(50,50,50,.45);
	padding-bottom: 8px;
}
.detailBox{
	width: 65%;
	height: 50%;
	border-radius: 8px;
	text-align: center;
	background-color: #FFFFFF;
	padding: 10px;
}
.detailBox h3{
	color: #222222;
	font-family: "微软雅黑";
	border-bottom: 1px solid rgba(50,50,50,.45);
	padding-bottom: 8px;

}
.detailBox h4{
	color: #222222;
}
.detailBox audio{
	height: 44px !important;
	width: 150px !important;
}
/*登陆注册*/
.mask{
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
}
.maskBg{
	height: 100%;
	width: 100%;
	background-color: #222;
	position: fixed;
	top: 0px;
}
.login,.regsiter{
	position: absolute;
	height: 75%;
	width: 30%;
	top: 12.5%;
	left: 35%;
	background-color: #fff;
	border-radius: 8px;
	display: none;
	text-align: center;
	min-height: 500px;
	min-width: 336px;
	box-shadow: 0px 0px 10px rgba(50,50,50,.35);
}
@keyframes hideDiv{
	from{
		left: 35.5%;
		opacity: 1;
	}
	to{
		left: 45%;
		opacity: 0;
	}
}
@-webkit-keyframes hideDiv{
	from{
		left: 35.5%;
		opacity: 1;
	}
	to{
		left: 45%;
		opacity: 0;
	}
}
@keyframes closeMask{
	from{
		top: 1%;
		opacity: 1;
	}
	to{
		top: -25%;
		opacity: 0;
	}
}
@-webkit-keyframes closeMask{
	from{
		top: 1%;
	}
	to{
		top: -25%;
	}
}
@keyframes closeMaskItem{
	from{
		bottom: 12.5%;
		opacity: 1;
	}
	to{
		bottom: -12.5%;
		opacity: 0;
	}
}
@-webkit-keyframes closeMaskItem{
	from{
		bottom: 12.5%;
		opacity: 1;
	}
	to{
		bottom: -12.5%;
		opacity: 0;
	}
}
.closeMaskItem{
	animation: closeMaskItem 500ms;
	-webkit-animation: closeMaskItem 500ms;
}
.hideThisDiv{
	animation: hideDiv 500ms;
	-webkit-animation: hideDiv 500ms;
}
.maskClose{
	animation: closeMask 500ms;
	-webkit-animation: closeMask 500ms;
}
.maskItemActive{
	display: block;
}
.maskItemActive h1{
	padding-top: 10px;
	padding-bottom: 10px;
}
.info{
	border: 1px solid rgba(50,50,50,.35);
	width: 300px;
	height: 44px;
	border-radius: 8px;
	padding-left: 10px;
	margin-top: 4%;
}
.info:focus{
	box-shadow:0px 0px 5px #3395FF;
	border: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.infoButton:active{
	background-color: #5DA0C6;
	box-shadow: 0px 0px 10px #3395FF inset;
}
.infoButton{
	outline: none;
	width: 280px;
	height: 44px;
	border: 0px;
	border-radius: 8px;
	color: #FFFFFF;
	margin-top: 4%;
}
.linkBox{
	width: 100%;
}
.logo{
	text-align: center;
	padding: 10px;
	width: 100%;
}
.logo img{
	border-radius: 50%;
}
/*左侧菜单*/
.leftMenu{
	width: 25%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: #222222;
	color:#fff;
	text-align: center;
}
.userHeader{
 	height:40%;
 	display: flex;
 	justify-content: center;
	align-items: center;
}
.userName{
	width: 100%;
	text-align: center;
}
.leftMenu .linkBox{
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
}
.recorderButton button{
	width: 70%;
	height: 44px;
	margin-top: 4%;
}
#log{
	margin: 0 auto;
	font-size: 14px;
	font-family: "微软雅黑";
	max-height: 200px;
	overflow-y: scroll;
}
#recordingslist{
	min-height: 150px;
	height: 160px;
	max-height: 180px;
	overflow-y: auto;
	border-bottom: 1px solid rgba(50,50,50,.50);
	margin-bottom: 20px;
}
/*右侧菜单*/
.rightMenu{
	position: fixed;
	top: 0px;
}
.recorderTestBox{
	margin-top: 41px;
	display: none;
}
.testArea{
	padding-left: 20px;
	font-family: "微软雅黑";
}
#content p{
	height: 100px;
	width: 100%;
	text-align: center;
}
#content img{
	height: 100px;
	width: 100%;
}
.recordTime{
	border-bottom: 1px solid rgba(50,50,50,.50);
	height: 90px;
	margin-bottom: 20px;
}
.recordResult{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	font-size: 50px;
	border-bottom: 1px solid rgba(50,50,50,.50);	
}
.judgeBtnBox{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}
.judgeBtnBox button{
	margin: 20px;
}
.rightItemActive{
	display: block !important;
}
.chartsBox{
	display: none;
	margin-top: 41px;
	height: 300px;
}
.historyList{
	display: none;
	margin-top: 41px;
	height: 100%;
	padding-left: 20px;
}
.historyListItem{
	float: left;
	width: 45%;
	margin: 1%;
	box-shadow: 0px 0px 5px rgba(50,50,50,.35);
	padding: 5px;
	border-radius: 8px;
}
.historyListItem button{
	float: right;
	margin-right: 8px;
}
